<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 style="margin-left: 200px;">Crawler de Emails</h1>
    <div class="row">
        <div class="col-md-4 block">
            <div class="circle">
                <div class="circulo-resultado" id="totalEmails"></div>
                <h3>emails no total</h3>
            </div>
        </div>
        <div class="col-md-4 block">
            <div class="circle">
                <div class="circulo-resultado" id="urlsTotal"></div>
                <h3>nessa rodada</h3>
            </div>
        </div>
        <div class="col-md-4 block">
            <div class="circle">
                <div class="circulo-resultado" id="urlsVisitadas"></div>
                <h3>urls visitadas</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <%= link_to "Iniciar", :crawler_url, class: "btn-menu btn btn-primary", id: "botao-iniciar", remote: true %>
        <div class="col-xs-12 col-md-6">        
            <div class="table-responsive">
            <table class="table table-striped" id="tabela_emails">
            </table>
            </div>    
        </div>
    </div>      
</div>
