<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 style="margin-left: 200px;">Bemovin</h1>     

  <%= link_to "Iniciar", :crawler_url, class: "btn-menu btn btn-primary", id: "botao-iniciar" %>
  <%= render 'emails/index' %>
</div>
