<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Últimos 10 e-mails</th>
        </thead>
        <tbody>
          <% @emails.each do |email| %>
            <tr>
              <td><%= email.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>    
  </div>
</div>