.navbar {
  min-height: 80px !important;
}

#infos {
  border-radius: 50%;
  background-color: orange;
  color: white;
	width: 200px;
	height: 200px;
}

#infos p {
  margin: 40px 25px 10px;
  font-size: 80px;
}
